html {
  font-family: Sigmar One, sans-serif;
}

header {
  background-color: #ffe500;
}

h1 {
  text-align: center;
  color: #cc1465;
  font-size: 3rem;
}

h2 {
  color: #cc1465;
}

p {
  font-family: Georgia;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  background-color: #b2a212;
  font-size: 1.125rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  padding: .5em;
  list-style-type: none;
}

nav {
  font-family: Georgia;
}

footer {
  background-color: #ffe500;
  text-align: center;
}
