html {
  font-family: "Sigmar One", sans-serif;
  color: #2f2d13;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  margin: .3em;
  padding: 0 .75em;
}

header {
  background-color: #ffe500;
}

h1 {
  text-align: center;
  color: #b20953;
  margin: 0;
  padding: 0 .75em;
  font-size: 3rem;
}

nav {
  text-align: center;
  font-family: Georgia;
  margin: 0;
  padding: 0 0 .3em;
}

h2 {
  color: #cc1465;
  font-size: 1.875rem;
}

img {
  display: block;
  width: 100%;
}

p {
  font-family: Georgia;
  line-height: 1.5;
}

footer {
  background-color: #ffe500;
  text-align: center;
  font-family: Georgia;
  padding: .3em .5em;
  font-size: .75rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
}

.btn {
  background-color: #b2a212;
  font-size: 1.125rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border-radius: .4em;
  padding: .2em .5em .3em;
  list-style-type: none;
}

.current {
  background-color: #cc1465;
  border-radius: .4em;
}

a:hover {
  background-color: #cc1465;
  color: #fff;
}
