html {
  font-family: "Sigmar One", sans-serif;
  color: #2f2d13;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

header {
  background-color: #ffe500;
}

h1 {
  text-align: center;
  color: #b20953;
  margin: 0;
  font-size: 3rem;
}

section {
  margin: .3em;
}

h2 {
  color: #cc1465;
}

p {
  font-family: Georgia;
  line-height: 1.5;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  background-color: #b2a212;
  font-size: 1.125rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  border-radius: 4px;
  padding: .5em;
  list-style-type: none;
}

.current {
  background-color: #cc1465;
}

nav {
  font-family: Georgia;
  margin: 0;
  padding-bottom: .2em;
}

a:hover {
  background-color: #cc1465;
}

footer {
  background-color: #ffe500;
  text-align: center;
  font-family: Georgia;
  padding: .75em;
}
